{
	"presets": [
		["es2015",
		{
			"modules": false
		}],
		"stage-2"
	],
	"plugins": [
		["transform-runtime", {
			"polyfill": true
		}],
		"closure-elimination",
		"tailcall-optimization",
		"external-helpers"
	],
	"comments": false
}
